doctype
html
head
    title Facebook Login JavaScript Example
    meta(charset="utf-8")
body
    script
        |window.fbAsyncInit = function() {
        |    FB.init({
        |        appId: '2136979469960699',
        |        cookie: true,
        |        xfbml: true,
        |        version: 'v3.1'
        |    });
        |	FB.ui({
        |		method: 'share',
		|		href: 'http://www.naver.com',
        |    }, function(response) {
        |        console.log("success");
        |    });
        |};
        |(function(d, s, id) {
        |    var js, fjs = d.getElementsByTagName(s)[0];
        |    if (d.getElementById(id)) return;
        |    js = d.createElement(s);
        |    js.id = id;
        |    js.src = "https://connect.facebook.net/en_US/sdk.js";
        |    fjs.parentNode.insertBefore(js, fjs);
        |}(document, 'script', 'facebook-jssdk'));
