// parameters : img_id, img_picked
dOCTYPE
html
head
    title Facebook Login JavaScript Example
    meta(charset="utf-8")
body
    script
        window.fbAsyncInit = function() {
            FB.init({
                appId: '2136979469960699',
                cookie: true, // enable cookies to allow the server to access
                // the session
                xfbml: true, // parse social plugins on this page
                version: 'v3.1' // use graph api version 2.8
            });


            FB.ui({
                method: 'share',
                href: 'https://ec2-52-79-228-242.ap-northeast-2.compute.amazonaws.com/view/' + img_id + '/' + img_picked'
            }, function(response) {
                console.log("success");
            });
        };

        // Load the SDK asynchronously
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));